@import './variable.styl'
.markdown-text
  text-indent 2em
  h1,h2
    border-bottom 1px solid $borderColor
  img
    display flex //这种方法居中 少见啊！！！
    margin 10px auto
    max-width 90%
    //flex-shrink 0
  pre
    font-size  14px
    border-radius  0
    padding  5px 15px
    border  none
    margin  20px -10px
    border-width  1px 0
    background  #f7f7f7
    tab-size  4
