$fontColor = #ccc
$hoverColor = rgb(61,184,239)
$headerBgColor = rgb(68,68,68)
$bodyBgColor = rgb(225,225,225)
$tabBgColor = #f6f6f6
$tabColor = #80bd01
$tabHover = #005580
$headerFontSize = 13px
$normalFontSize = 14px
$wrapWidth = 80%